streamlit
pandas
plotly

langchain
langchain-openai
langchain-community
langchain-classic
langchain-text-splitters
langchain-chroma

chromadb
openai

python-dotenv

unstructured[pdf]
unstructured-inference
pypdf

rank-bm25